#unity-container {
  width: 720px;
  height: 405px
}

#unity-loading {
  position: absolute;
  width: 720px;
  height: 405px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#unity-canvas {
  position: absolute;
  width: 720px;
  height: 405px;
}
